@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 80 0% 0%;
		--card: 80 0% 90%;
		--card-foreground: 80 0% 10%;
		--popover: 80 0% 95%;
		--popover-foreground: 80 95% 0%;
		--primary: 80 61.5% 47.8%;
		--primary-foreground: 0 0% 100%;
		--secondary: 80 10% 70%;
		--secondary-foreground: 0 0% 0%;
		--muted: 42 10% 85%;
		--muted-foreground: 80 0% 35%;
		--accent: 42 10% 80%;
		--accent-foreground: 80 0% 10%;
		--destructive: 0 50% 30%;
		--destructive-foreground: 80 0% 90%;
		--border: 80 20% 50%;
		--input: 80 20% 18%;
		--ring: 80 61.5% 47.8%;
		--radius: 0.5rem;
	}
	.dark {
		--background: 80 10% 5%;
		--foreground: 80 0% 90%;
		--card: 80 0% 0%;
		--card-foreground: 80 0% 90%;
		--popover: 80 10% 5%;
		--popover-foreground: 80 0% 90%;
		--primary: 80 61.5% 47.8%;
		--primary-foreground: 0 0% 100%;
		--secondary: 80 10% 10%;
		--secondary-foreground: 0 0% 100%;
		--muted: 42 10% 15%;
		--muted-foreground: 80 0% 60%;
		--accent: 42 10% 15%;
		--accent-foreground: 80 0% 90%;
		--destructive: 0 50% 30%;
		--destructive-foreground: 80 0% 90%;
		--border: 80 20% 18%;
		--input: 80 20% 18%;
		--ring: 80 61.5% 47.8%;
		--radius: 0.5rem;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
